.news-viewer__article {
    max-width: 80%;
    max-height: 60%;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: auto;
}

.news-viewer__article header {
    text-align: center;
    width: 100%;
}

.news-viewer__article-content {
    padding: 20px;
}

.news-viewer__not-found {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
