.editor-requests .main {
    display: flex;
    flex-direction: column;
}

.editor-requests__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
}

.editor-request-item {
    margin: 20px;
    padding: 15px 10px;
}

.editor-request-item__buttons-container .editor-request-item__button:not(:last-child) {
    margin-right: 15px;
}

.editor-request-item__name {
    font-weight: 700;
}

.editor-request-item__email {
    margin-bottom: 10px;
}

.editor-request-item__name, .editor-request-item__email {
    text-align: center;
}
