.notFound {
    max-width: 750px;
    min-width: 40%;
    max-height: 400px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.notFoundLink {
    margin-top: 15px;
}
