.auth {
    max-width: 500px;
    margin: 0 auto;
    padding: 12px;
}

.auth__fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.auth__header {
    text-align: center;
}

.auth__item {
    margin-bottom: 12px;
}

.auth__link {
    text-align: center;
    width: auto;
    margin: 0 auto;
}
