.create-news__form {
    width: 80%;
}

.create-news__fieldset {
    color: rgb(42, 48, 57);
    border: 0.0625rem solid rgb(215, 217, 226);
    border-radius: 0.875rem;
    background-clip: padding-box;
    box-shadow: rgb(215 217 226) 0 1px 2px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.create-news__legend {
    text-align: center;
}

.create-news__header {
    font-size: 1.5rem;
    color: rgba(42,48,57,1);
}

.markdown-viewer {
    border-radius: 0.875rem;
    padding: 0.625rem 1rem;
    font-size: 1rem;
    line-height: 1.57;
    color: rgba(42,48,57,1);
    box-sizing: border-box;
    margin: 0;
    background-color: rgba(255,255,255,1);
    border: solid 1px rgba(164,167,181,1);
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.create-news__title-input, .create-news__content-group, .create-news__notification {
    margin-bottom: 20px;
}

.create-news__content-group {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.markdown-editor, .create-news__markdown-viewer {
    width: 48%;
    max-width: 50%;
    height: 400px;
}

.markdown-editor {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.markdown-editor > div {
    flex-grow: 1;
}

.markdown-editor textarea {
    height: 100%;
}

.create-news__markdown-viewer {
    display: flex;
    flex-direction: column;
}

.create-news__label {
    color: rgba(63,73,84,1);
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 0.125rem;
    align-self: center;
    box-sizing: border-box;
}

.create-news__notification {
    align-self: center;
}
